@import "tailwindcss";

:root {
  --background: rgb(8 13 39);
  --foreground: #ffffff;
  --primary: #f5f5f5;
  --secondary: #0a0a0a;
  --muted: #4b5e66;
  --accent: #f15e22;
  --font-montserrat: "Montserrat", sans-serif;
  --font-comic: "Comic Neue", sans-serif;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-accent: var(--accent);
  --font-montserrat: var(--font-montserrat);
  --font-comic: var(--font-comic);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-comic);
}
