@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 8 13 39;
  --foreground: 255 255 255;
  --primary: 245 245 245;
  --secondary: 10 10 10;
  --muted: 75 94 102;
  --accent: 241 94 34;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family: var(--font-montserrat);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-comic);
}
